@model Portfolio
@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Des">Des</label>
                <input asp-for="Des" class="form-control" placeholder="Des">
            </div>
            <div>
                <label for="formFileLg" class="form-label">Upload File</label>
                <input asp-for="Photo" class="form-control" type="file" />
                <span class="text-danger" asp-validation-for="Photo"></span>
            </div>

        </div>
        <div class="form-group">
            <button asp-controller="Portfolio" asp-action="Create" type="submit" class="btn btn-primary">Create</button>
            <button asp-controller="Portfolio" asp-action="Index" class="btn btn-md rounded font-sm hover-up btn-primary">Go Back</button>

        </div>
    </form>
</div>
